{"swagger": "2.0", "info": {"title": "mobile", "version": "2022-03-25 03:28:18"}, "host": "lina.bassammannaa.com", "basePath": "/api/v1/mobile", "schemes": ["http"], "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "produces": ["application/json"], "paths": {"/report/pdf/{report_external_id}/{docids}": {"get": {"summary": "Get PDF report file for mobile namespace", "description": "Returns PDF report file for mobile namespace", "operationId": "getPdfReportFileForMobileNamespace", "produces": ["application/pdf"], "responses": {"200": {"description": "A PDF report file for mobile namespace.", "schema": {"type": "file"}}}, "parameters": [{"name": "report_external_id", "in": "path", "description": "Report xml id or report name", "required": true, "type": "string"}, {"name": "docids", "in": "path", "description": "One identifier or several identifiers separated by commas", "required": true, "type": "string"}], "tags": ["report"]}}, "/report/html/{report_external_id}/{docids}": {"get": {"summary": "Get HTML report file for mobile namespace", "description": "Returns HTML report file for mobile namespace", "operationId": "getHtmlReportFileForMobileNamespace", "produces": ["application/pdf"], "responses": {"200": {"description": "A HTML report file for mobile namespace.", "schema": {"type": "file"}}}, "parameters": [{"name": "report_external_id", "in": "path", "description": "Report xml id or report name", "required": true, "type": "string"}, {"name": "docids", "in": "path", "description": "One identifier or several identifiers separated by commas", "required": true, "type": "string"}], "tags": ["report"]}}, "/res.partner": {"get": {"summary": "Get all res.partner objects", "description": "Returns all res.partner objects", "operationId": "getAllResPartner", "produces": ["application/json"], "responses": {"200": {"description": "A list of res.partner.", "schema": {"type": "array", "items": {"$ref": "#/definitions/res.partner-read_many"}}}, "400": {"$ref": "#/responses/400"}, "401": {"$ref": "#/responses/401"}, "500": {"$ref": "#/responses/500"}}, "tags": ["res.partner"]}}, "/res.partner/{id}": {"get": {"summary": "Get res.partner by ID", "description": "Returns a single res.partner", "operationId": "getResPartnerById", "produces": ["application/json"], "parameters": [{"name": "id", "in": "path", "description": "Record ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "successful operation", "schema": {"$ref": "#/definitions/res.partner-read_one"}}, "404": {"description": "res.partner not found"}, "400": {"$ref": "#/responses/400"}, "401": {"$ref": "#/responses/401"}, "500": {"$ref": "#/responses/500"}}, "tags": ["res.partner"]}}, "/product.public.category": {"get": {"summary": "Get all product.public.category objects", "description": "Returns all product.public.category objects", "operationId": "getAllProductPublicCategory", "produces": ["application/json"], "responses": {"200": {"description": "A list of product.public.category.", "schema": {"type": "array", "items": {"$ref": "#/definitions/product.public.category-read_many"}}}, "400": {"$ref": "#/responses/400"}, "401": {"$ref": "#/responses/401"}, "500": {"$ref": "#/responses/500"}}, "tags": ["product.public.category"]}}, "/product.public.category/{id}": {"get": {"summary": "Get product.public.category by ID", "description": "Returns a single product.public.category", "operationId": "getProductPublicCategoryById", "produces": ["application/json"], "parameters": [{"name": "id", "in": "path", "description": "Record ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "successful operation", "schema": {"$ref": "#/definitions/product.public.category-read_one"}}, "404": {"description": "product.public.category not found"}, "400": {"$ref": "#/responses/400"}, "401": {"$ref": "#/responses/401"}, "500": {"$ref": "#/responses/500"}}, "tags": ["product.public.category"]}}}, "definitions": {"ErrorResponse": {"type": "object", "required": ["error", "error_descrip"], "properties": {"error": {"type": "string"}, "error_descrip": {"type": "string"}}}, "res.partner-read_one": {"type": "object", "properties": {"name": {"type": "string"}, "display_name": {"type": "string", "readOnly": true}, "phone": {"type": "string"}, "mobile": {"type": "string"}}}, "res.partner-read_many": {"type": "object", "properties": {"id": {"type": "integer", "readOnly": true}}}, "product.public.category-read_one": {"type": "object", "properties": {"id": {"type": "integer", "readOnly": true}, "name": {"type": "string"}, "image_1024": {"type": "string", "format": "binary", "readOnly": true}}, "required": ["name"]}, "product.public.category-read_many": {"type": "object", "properties": {"id": {"type": "integer", "readOnly": true}}}}, "responses": {"400": {"description": "Invalid Data", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "401": {"description": "Authentication information is missing or invalid", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "securityDefinitions": {"basicAuth": {"type": "basic"}}, "security": [{"basicAuth": []}], "tags": [{"name": "res.partner", "description": "Everything about res.partner"}, {"name": "product.public.category", "description": "Everything about product.public.category"}]}